* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-font: 'Lora', serif;

html,
body {
        cursor: url(img/cursor.png), progress;

        a:hover {
            cursor: url(img/cursorh.png), progress;
        }

        ::selection {
            text-shadow: 0 0 2px #cec1bb;
            color: #cec1bb
        }

        ::-moz-selection {
            text-shadow: 0 0 2px #cec1bb;
            color: #cec1bb
        }

        width: 100%;
        height: 100%;
        overflow: hidden;
        background-image: url('img/bg.jpg');
        background-repeat: repeat;
        background-color: #f2efed;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        font-family: 'Lora', serif;
        line-height: 1.4;
        letter-spacing: 0.6px;
        text-align: left;
        color: #9e8d8d;
}

    i {
        text-decoration: none;
        color: #C0ADA9;
        text-shadow: 0 0 2px #cec1bb;
    }

    a {  
text-decoration: none;
color: #C0ADA9;
text-shadow: 0 0 2px #cec1bb;
	}

	a:hover { 
color: #d9cccc;
text-shadow: 0 0 2px #e8e1e1;
	}  

    .link {  
text-decoration: none;
color: #C0ADA9;
text-shadow: 0 0 2px #cec1bb;
transition: 1s;
	}

	.link:hover { 
color: #d9cccc;
text-shadow: 0 0 2px #e8e1e1;
filter: blur(1px);
transition: 1s;
	}  

    
.wavy {
    text-weight: normal;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #d9d2d2;
    text-underline-offset: 6px;
}

        .title {
font-size:1.7rem;
line-height: 1.4em; 
font-family: "Playwrite IT Moderna", cursive;
letter-spacing:0px;
text-decoration: none;
color: #b5a7a5;
text-shadow: 1px 3px 0 #ded5d5, 1px 8px 5px #ede4e4;
    }

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

    .logo-container {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .about-logo {
        top: 8%;
        transform: translate(-50%, -50%);
        z-index: 15;
    }
    
        .fence {
        position: absolute;
        margin-top: -20%;
        left: 50%;
        transform: translate(-50%, 65%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 0;
    }

body:has(.about-layout) {
    overflow-y: auto;
    overflow-x: hidden;
}

.about-center-wrapper {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10vh;
    width: 70vh;
    max-width: 80vw;
    z-index: 10;
}

.about-content-box {
    margin-top: 5vh;
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    scrollbar-color: #e2d5d0 transparent;
    border: 50px solid transparent;
    border-image-source: url('img/border.png');
    border-image-slice: 18% fill;
    border-image-repeat: round;
    background-image: url('img/bg.png');
    background-repeat: repeat;
    background-color: #F8F6F4;
    background-clip: border-box;
    padding: 10%;
    font-size: 0.9rem;
    font-family: Lora, serif;  
    line-height: 1.4em; 
    letter-spacing: 0.5px;
    text-align: left;  
    color: #9e8d8d;  
}

details>summary {
  list-style-type: '';
  cursor: url(img/cursorh.png), progress;
}

details[open]>summary {
  list-style-type: '';
  cursor: url(img/cursorh.png), progress;
}

details[open]>summary {
    margin-bottom: 0.5rem;
}

details[open] {
    width: 100%;
    border: 20px solid transparent;
    border-image-source: url('img/lace.png');
    border-image-slice: 20% fill;
    border-image-repeat: round;
    background-color: #F8F6F4;
    background-clip: padding-box;
    line-height: 1.4em; 
    padding: 5%;
}

.garden {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-evenly;
    align-items: center;
}

.about-content-box::-webkit-scrollbar {
    width: 10px;
}

.about-content-box::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

.about-content-box::-webkit-scrollbar-thumb {
    background-color: #e2d5d0;
    border-radius: 10px;
}

.about-content-box::-webkit-scrollbar-thumb:hover {
    background-color: #e2d5d0;
}

@media (max-width: 768px) {
    .about-center-wrapper {
        top: 10%;
    }
    .about-content-box {
        margin-top: 2vh;
        border: 40px solid transparent;
        border-image-source: url('img/border.png');
        border-image-slice: 20% fill;
        border-image-repeat: round;
        padding: 5%;
        padding-top: 20%;
    }
    .about-logo {
        top: 3%;
        transform: translate(-50%, -50%);
        z-index: 15;
    }
        .fence {
        margin-top: -38%;
        transform: translate(-50%, 65%) scale(0.7);
    }
}